{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">

        
        <div class="row">
            {% include "includes/alerts.html" %}
            <main class="col-md-12">
                <article class="card">
                    <header class="card-header">                     
                        <strong class="d-inline-block mr-3 float-left">Your Wishlist</strong>
                    </header>

                    {% for product in wishlist %}
                        <div class="row m-3">
                            <div class="col-md-4 text-center">
                                <img src="{{ product.product.image.url }}" class="img-fluid" width="150px" height="150px">
                            </div>
                            <div class="col-md-8">
                                <ul class="thumb">
                                    <h3 class="title">{{ product.product.product_name}}</h3>
                                    <div class="rating-star"><span>
                                        <i class="fa fa-star{% if product.product.averageReview < 0.5 %}-o{% elif product.product.averageReview >= 0.5 and product.product.averageReview < 1 %}-half-o {% endif %}"></i>
                                        <i class="fa fa-star{% if product.product.averageReview < 1.5 %}-o{% elif product.product.averageReview >= 1.5 and product.product.averageReview < 2 %}-half-o {% endif %}"></i>
                                        <i class="fa fa-star{% if product.product.averageReview < 2.5 %}-o{% elif product.product.averageReview >= 2.5 and product.product.averageReview < 3 %}-half-o {% endif %}"></i>
                                        <i class="fa fa-star{% if product.product.averageReview < 3.5 %}-o{% elif product.product.averageReview >= 3.5 and product.product.averageReview < 4 %}-half-o {% endif %}"></i>
                                        <i class="fa fa-star{% if product.product.averageReview < 4.5 %}-o{% elif product.product.averageReview >= 4.5 and product.product.averageReview < 5 %}-half-o {% endif %}"></i>
                                        <span>{{ product.product.countReview }} Reviews</span>
                                    </span></div>
                                    <div class="mb-3"> 
                                        <var class="price h4">${{ product.product.price }}</var> 
                                    </div> 
                                    <a class="btn  btn-primary btn-sm m-2"> <span class="text">View details</span> </a>
                                    <a class="btn  btn-danger btn-sm m-2"> <span class="text">Remove</span> </a>
                                    
                                </ul>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </article>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".choose-size").hide();

            // Event listener for color selection change
            $('select[name="color"]').on('change', function() {
                var selectedColor = $(this).find(':selected').data('color');
                console.log(selectedColor);

                $(".choose-size").hide();
                $(".color" + selectedColor).show();
                console.log(".color" + selectedColor);
            });
        });
    </script>
</section>
{% endblock content %}
