{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        {% if not wishlist %}
    
        <h2 class="text-center"> Your wishlist is empty</h2>
        <br>
        <div class="text-center">
            <a href="{% url "store" %}" class="btn btn-primary">Continue Shopping</a>
        </div>

    {% else %}
        
        <div class="row">
            {% include "includes/alerts.html" %}
            <main class="col-md-12">
                <article class="card">
                    <header class="card-header">                     
                        <strong class="d-inline-block mr-3 float-left">Your Wishlist</strong>
                    </header>

                    {% for product in wishlist %}
                        <div class="row m-3">
                            <div class="col-md-4 text-center">
                                <a href="{{product.product.get_url}}"><img src="{{product.product.image.url}}" width="150px" ></a>
                            </div>
                            <div class="col-md-8">
                                {% comment %} <ul class="thumb"> {% endcomment %}
                                    <h3 class="title">{{ product.product.product_name}}</h3>
                                    <div class="rating-star"><span>
                                        <i class="fa fa-star{% if product.product.averageReview < 0.5 %}-o{% elif product.product.averageReview >= 0.5 and product.product.averageReview < 1 %}-half-o {% endif %}"></i>
                                        <i class="fa fa-star{% if product.product.averageReview < 1.5 %}-o{% elif product.product.averageReview >= 1.5 and product.product.averageReview < 2 %}-half-o {% endif %}"></i>
                                        <i class="fa fa-star{% if product.product.averageReview < 2.5 %}-o{% elif product.product.averageReview >= 2.5 and product.product.averageReview < 3 %}-half-o {% endif %}"></i>
                                        <i class="fa fa-star{% if product.product.averageReview < 3.5 %}-o{% elif product.product.averageReview >= 3.5 and product.product.averageReview < 4 %}-half-o {% endif %}"></i>
                                        <i class="fa fa-star{% if product.product.averageReview < 4.5 %}-o{% elif product.product.averageReview >= 4.5 and product.product.averageReview < 5 %}-half-o {% endif %}"></i>
                                        <span>{{ product.product.countReview }} Reviews</span>
                                    </span></div>
                                    <div class="mb-3"> 
                                        <var class="price h4">${{ product.product.price }}</var> 
                                    </div> 
                                   {% comment %} </ul> {% endcomment %}
                                   <a href="{{product.product.get_url}}" class="btn btn-primary btn-sm p-2 m-2">View details</a>
                                   <a href="{% url 'remove_wishlist' product.id %}" class="btn btn-danger btn-sm p-2">Remove</a>
                              
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </article>
            </main>
        </div>
        {% endif %}
    </div>

</section>
{% endblock content %}
