{% extends "admin/base1.html" %}
{% block content %}

<div class="container-fluid">
    {% include "includes/alerts.html" %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Add Product Gallery</div>
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data" id="image-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% comment %} <input type="submit" class="btn btn-primary" value="Add Image"> {% endcomment %}
                    </form>
                    <div id="alert-box"></div>
                    <div id="image-box" class="mb-3"></div>
                    <button type="button" class="btn btn-primary mt-3 not-visible" id="confirm-btn">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const alertBox = document.getElementById('alert-box');
        const imageBox = document.getElementById('image-box');
        const imageForm = document.getElementById('image-form');
        const confirmBtn = document.getElementById('confirm-btn');
        const input = document.getElementById('id_image');
        const csrf = document.getElementsByName('csrfmiddlewaretoken');
        const csrf_value = csrf[0].value;

        input.addEventListener('change', () => {
            alertBox.innerHTML = "";
            confirmBtn.classList.remove('not-visible');

            const imgData = input.files[0];
            const url = URL.createObjectURL(imgData);
            imageBox.innerHTML = `<img src="${url}" id="image" width="350px">`;

            const image = document.getElementById('image');

            const cropper = new Cropper(image, {
                aspectRatio: 9 / 9,
                crop: function (event) {
                    console.log(event.detail.x);
                    console.log(event.detail.y);
                    console.log(event.detail.width);
                    console.log(event.detail.height);
                    console.log(event.detail.rotate);
                    console.log(event.detail.scaleX);
                    console.log(event.detail.scaleY);
                },
            });

            confirmBtn.addEventListener('click', () => {
                cropper.getCroppedCanvas().toBlob((blob) => {
                    const fd = new FormData();
                    fd.append('csrfmiddlewaretoken', csrf_value);
                    fd.append('image', blob, 'my-image.png');

                    $.ajax({
                        type: 'POST',
                        url: imageForm.action,
                        enctype: 'multipart/form-data',
                        data: fd,
                        success: function (response) {
                            console.log('success', response);
                            alertBox.innerHTML = `<div class="alert alert-success" role="alert">
                                                    Successfully saved and cropped the selected image
                                                </div>`;
                            window.location.href = `/customadmin/product`;  
                        },
                        error: function (error) {
                            console.log('error', error);
                            alertBox.innerHTML = `<div class="alert alert-danger" role="alert">
                                                    something went wrong
                                                </div>`;
                        },
                        cache: false,
                        contentType: false,
                        processData: false,
                    });
                });
            });
        });
    });
</script>

{% endblock content %}
