{% extends "admin/base1.html" %}
{% block content %}

<div class="container-fluid">
    {% include "includes/alerts.html" %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Edit Order </div>
                    <hr>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <lable><b>User</b></lable>
                            </div>
                            <div class="form-group col-md-9">
                                {{ order_form.user }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <lable><b>Payment method</b></lable>                            
                            </div>
                            <div class="form-group col-md-9">
                                {{ order_form.payment_method }}                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <lable><b>Address</b></lable>                            
                            </div>
                            <div class="form-control col-md-6">
                                <p>{{ order_form.instance.address.full_address | capfirst }}
                                <br>{{ order_form.instance.address.state | capfirst }}, 
                                <br>{{ order_form.instance.address.city | capfirst }}, 
                                <br>{{ order_form.instance.address.pincode }}, 
                            </p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <lable><b>Order number</b></lable>                            
                            </div>
                            <div class="form-group col-md-9">
                                {{ order_form.order_number }}                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <lable><b>Order total</b></lable>                            
                            </div>
                            <div class="form-group col-md-9">
                                {{ order_form.order_total }}                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <lable><b>Status</b></lable>                            
                            </div>
                            <div class="form-group col-md-9">
                                {{ order_form.status }}                                
                            </div>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-success" value="Save">
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}