{% extends "admin/base1.html" %}

{% block content %}

<main class="col-md-12">
    <article class="card  table-head-bg-primary">
    <header class="card-header">
        <strong class="d-inline-block mr-3">Order ID:{{ orders.order_number }}</strong>
        <span>Order Date: {{ orders.created_at }}</span>
    </header>
    <div class="card-body">
        <div class="row"> 
            <div class="col-md-8">
                <h6 class="text-muted">Delivery to</h6>
                <p>{{ orders.address.full_name }}<br>  
                Phone: {{ orders.address.phone_number }} Email: {{ orders.address.email}} <br>
                Location: {{ orders.address.address_line_1 }}, {{ orders.address.address_line_1 }} <br> state: {{ orders.address.state }},  city: {{ orders.address.city }},<br> 
                Zipcode: {{ orders.address.pincode }}
                 </p>
            </div>
            <div class="col-md-4">
                <h6 class="text-muted">Payment</h6>
                {% comment %} <span class="text-success">
                    <i class="fab fa-lg fa-cc-visa"></i>
                    Visa  **** 4216  
                </span> {% endcomment %}
                <p>Payment method: {{ orders.payment_method }} <br>
                Subtotal: ${{ subtotal}} <br>
                 Tax:  ${{ orders.tax }} <br> 
                 <span class="b">Total:  ${{ orders.order_total }} </span>
                </p>
            </div>
        </div> <!-- row.// -->
    </div> <!-- card-body .// -->
    <div class="table-responsive">
    <table class="table table-hover">
        
        {% for item in order_product %}
        <tr>
            <td width="65">
                <img src="{{ item.product.image.url }}" class="img-xs border p-1"  width="65">
            </td>
            <td> 
                <p class="title mb-0">{{ item.product.product_name }} </p>
                <var class="price text-muted">
                    {% if item.variations.all %}
                    {% for i in item.variations.all %}
                    {{ i.variation_category | capfirst}} : {{ i.variation_value | capfirst}}<br>
                    {% endfor %}
                    {% endif %}
                </var>
            </td>
            <td> quantity <br>{{ item.quantity }} </td>
            <td> price <br>{{ item.product.price }} </td>
        </tr>
        {% endfor %}
      
    </table>
    </div> <!-- table-responsive .end// -->
    </article> <!-- order-group.// --> 
</main>





{% comment %} <div class='ml-4'>
    <h3>Order Details</h3>
</div>

<div class="" style="margin: 0 ;width: 90%;padding: 10px;background: #ffffff;">
    <div class="row invoice row-printable">
        <div class="col-md-12"> {% endcomment %}
            {% comment %} <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        {% comment %} <div class="col-lg-8">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><img src="{% static "/images/logo.png" %}" alt="Invoice logo" style="max-height: 40px;"></div>
                        </div> {% endcomment %}
                        <!-- col-lg-6 end here -->
                        {% comment %} <div class="col-lg-4">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right">
                                    <li><strong>Invoiced To</strong></li>
                                    <li>{{ order.address.full_name}} </li>
                                    <li>{{ order.address.full_address}} </li>
                                    <li>{{ order.address.state}} </li>
                                    <li>{{ order.address.city}} </li>
                                    <li>{{ order.address.pincode}} </li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        <li><strong>Order:  </strong>{{ order.order_number }} </li>
                                        <li><strong>Order Date: </strong>{{ order.created_at }}</li>
                                        {% if payment %}
                                        <li><strong>Transaction</strong> {{ order.payment.payment_id }}</li>
                                        <li><strong>Status:</strong>{{ order.payment.status }}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div> {% endcomment %}
{% comment %}                            
                            <div class="">
                                <div class="table-responsive table table-head-bg-primary" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Products</th>
                                                <th class="per5 text-center">Qty</th>
                                                <th class="per25 text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in order_detail %}
                                            <tr>
                                                <td><h6>{{ item.product.product_name}}</h6>
                                                    <p class="text-muted">
                                                        {% if item.variations.all %}
                                                        {% for i in item.variations.all %}
                                                            {{ i.variation_category |capfirst}} : {{ i.variation_value |capfirst}}<br>
                                                        {% endfor %}
                                                        {% endif %}
                                
                                                    </p> 
                                                </td>
                                                <td class="text-center">{{ item.quantity}}</td>
                                                <td class="text-center">{{ item.product_price}}</td>
                                            </tr>
                                            {% endfor %}
                                           </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Sub Total</th>
                                                <th class="text-center">{{ subtotal }}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-right">Tax:</th>
                                                <th class="text-center">{{ order.tax }}</th>
                                            </tr>
                                            
                                            <tr>
                                                <th colspan="2" class="text-right">Grand Total:</th>
                                                <th class="text-center">{{ order.order_total }}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div> {% endcomment %}
                        {% comment %} </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}


{% endblock content %}