{% extends "admin/base1.html" %}

{% block content %}

<main class="col-md-12">
    <article class="card  table-head-bg-primary">
    <header class="card-header">
        <strong class="d-inline-block mr-3">Order ID:{{ orders.order_number }}</strong>
        <span>Order Date: {{ orders.created_at }}</span>
    </header>
    <div class="card-body">
        <div class="row"> 
            <div class="col-md-8">
                <h6 class="text-muted">Delivered to</h6>
                <p>{{ orders.address.full_name }}<br>  
                Phone: {{ orders.address.phone_number }} Email: {{ orders.address.email}} <br>
                Location: {{ orders.address.address_line_1 }}, {{ orders.address.address_line_1 }} <br> state: {{ orders.address.state }},  city: {{ orders.address.city }},<br> 
                Zipcode: {{ orders.address.pincode }}
                 </p>
            </div>
            <div class="col-md-4">
                <h6 class="text-muted">Payment</h6>
                <p>Payment method: {{ orders.payment_method }} <br>
                Subtotal: ${{ subtotal}} <br>
                 Tax:  ${{ orders.tax }} <br> 
                 <span class="b">Total:  ${{ orders.order_total }} </span>
                </p>
            </div>
        </div> <!-- row.// -->
    </div> <!-- card-body .// -->
    <div class="table-responsive">
    <table class="table table-hover">
        
        {% for item in order_product %}
        <tr>
            <td width="65">
                <img src="{{ item.product.image.url }}" class="img-xs border p-1"  width="65">
            </td>
            <td> 
                <p class="title mb-0">{{ item.product.product_name }} </p>
                <var class="price text-muted">
                    color: {{ item.variations.color | capfirst }}<br>
                    size: {{ item.variations.size | upper }}
                </var>
            </td>
            <td> quantity <br>{{ item.quantity }} </td>
            <td> price <br>{{ item.product.price }} </td>
        </tr>
        {% endfor %}
      
    </table>
    <hr>
    </div> 
    <div class="card-body">
        <div class="row"> 
            <div class="col-md-8">
                <h6 class="text-muted">Reason :</h6>
                <p>
                    {{refund.reason}}
                 </p>
                 <a href="{% url "admin_grant_return_request" orders.order_number %}"  class="btn btn-outline-primary">Grant Request</a>
            </div>
        </div> <!-- row.// -->
    </div> <!-- card-body .// -->
</div>

    </article> <!-- order-group.// --> 
</main>




{% endblock content %}