{% extends "base.html" %}
{% load static %}
{% block content %}


<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
   

    <div class="row">
        <aside class="col-lg-6">
    <div class="card p-3">
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" width="120">Quantity</th>
      <th scope="col" width="120">Price</th>
      
    </tr>
    </thead>
    <tbody>

{% for cart_item in cart_items  %}
    <tr>
        <td> 
            <figure class="itemside align-items-center">
                <div class="aside p-1"><img src="{{ cart_item.variations.image.url }}" class="img-sm"></div>
                <figcaption class="info">
                    <a href="{{ cart_item.product.get_url }}" class="title text-dark text-bold">{{ cart_item.product.product_name }}</a>
                    <p class="text-muted small">
                        color: {{ cart_item.variations.color }}<br>
                        size: {{ cart_item.variations.size }}
                    </p> 
                </figcaption>
            </figure>
        </td>
        <td> 
           <label for="">{{ cart_item.quantity }}</label>
        </td>
        <td> 
            <div class="price-wrap"> 
                <var class="price">${{ cart_item.sub_total }}</var> 
                <small class="text-muted"> ${{ cart_item.product.price }} </small> 
            </div> <!-- price-wrap .// -->
        </td>
       
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <hr>
    <form action={% url "place_order" %} method="POST">
        {% csrf_token %}

        <div class="form-row">
          <div class="col form-group">
            <label for="">Order Note</label>
             <input type="textarea" class="form-control" name='order_note'>
          </div>
        </div>    

    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->

        <aside class="col-lg-6">
            <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6">
                        <h5>Select Shipping Address</h5>
                    </div>
                    <div class="col-6 text-right">
                        <a href="{% url 'shipping_address' %}?referrer=checkout" class="btn btn-outline-primary btn-sm">Add different address +</a>
                    </div>
                </div>
                {% for ad in address %}
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-text mb-0">{{ ad.full_name }}</h6>
                        <p class="card-text mb-0">{{ ad.full_address }}</p>
                        <p class="card-text mb-0">{{ ad.city}}, {{ ad.state}} </p>
                        <p class="card-text mb-0">{{ ad.country}}, {{ ad.pincode}}  </p>
                        <p class="card-text mb-0">{{ ad.phone_number}} </p>
                      </div>
                    </div>
                    <div class="form-check mt-2 mb-2">
                    <input class="form-check-input" type="radio" name="address_id" id="{{ forloop.counter }}" value="{{ ad.id }}"  {% if forloop.last %}checked{% endif %}>
                    <label class="form-check-label fw-bold" for="">
                        Address: {{ forloop.counter }} </label>
                    </div>
                {% endfor %}

                <h5 class="mt-4">Select Payment method</h5>
                <div class="card mt-2 mb-4">
                    <div class="card-body p-2 m-2">
                        <div class="form-check mt-2 mb-2">
                            <input class="form-check-input" type="radio" name="payment_method" value="COD" checked>
                            <label class="form-check-label fw-bold" for="cod">
                                Cash On Delivery </label>
                        </div>
                        <div class="form-check mt-2 mb-2">
                            <input class="form-check-input" type="radio" name="payment_method" value="paypal">
                            <label class="form-check-label fw-bold" for="">
                                PayPal </label>
                        </div>
                        {% comment %} <div class="form-check mt-2 mb-2">
                            <input class="form-check-input" type="radio" name="payment_method" value="wallet">
                            <label class="form-check-label fw-bold" for="">
                                Wallet </label>
                        </div> {% endcomment %}
                    </div>
                </div>

                <input type="hidden" name="referrer" value="checkout">
                <button type="submit" class="btn btn-primary btn-block"> Place Order </button>
                <a href="{% url "store" %}" class="btn btn-light btn-block">Continue Shopping</a>
                
      </form>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->

    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>
{% endblock %}